/*	
*	################################################################################
*	
*	My Custom Style for KINGADMIN
*	---------------------------------------------------------------------
*
*	Version		1.0
*	Author		Your Name
*	
*	Override theme style or create your new styles. Direct change to main.css
*	is not recommended to avoid problems when theme updates arrived in the future
*	
*	################################################################################
*/

.left7pixel {
	margin-left: 7px;
}

.right7pixel {
	margin-right: 7px;
}

.c-primary-2 {
    background-color: #5491B5;
    border-color: #5491B5;
}

.c-primary-3 {
    background-color: #79BEFA;
    border-color: #79BEFA;
}

.c-dark {
    background-color: #454545;
    border-color: #454545;
}